<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>development</string>
	<key>hostURL</key>
	<dict>
		<key>relative</key>
		<string>https://services-testing.babilonia.io</string>
	</dict>
	<key>stripePublishableKey</key>
	<string>pk_test_51HrMuRDyWNiuGg9AxZc3aKekn3QHv1ceijFPXt3gpge5DdnC239sVKF4WwZTUNy7BxFWtjmLP9sa9oYB0P0NFjhH00xDJBM2Ky</string>
	<key>deeplinkHost</key>
	<string>dev.babilonia.io</string>
	<key>webSiteURL</key>
	<string>https://www-testing.babilonia.io</string>
	<key>paymentURL</key>
	<dict>
		<key>relative</key>
		<string>https://services-testing.babilonia.io</string>
	</dict>
</dict>
</plist>
