<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>production</string>
	<key>hostURL</key>
	<dict>
		<key>relative</key>
		<string>https://api.babilonia.io/api/</string>
	</dict>
	<key>stripePublishableKey</key>
	<string>pk_live_3qaZOjQfqLzIA3rfAiJ9Ttbz00HjSRVd5d</string>
	<key>deeplinkHost</key>
	<string>babilonia.io</string>
	<key>webSiteURL</key>
	<string>https://babilonia.io/</string>
	<key>paymentURL</key>
	<dict>
		<key>relative</key>
		<string>https://services.babilonia.io</string>
	</dict>
</dict>
</plist>
